$white: #ffffff;
$black: #000000;
$sky-blue: #0086e0;
$light-grey: #dddddd;
$off-white: #f1f1f1;
$dark-grey: #7c7f92;
$silver-grey: #f9f9f9;
$silver: #dddddd;
$grey: #9c9898;
$red: #f44336;
$blue: #1a73e8;
$green: #188038;
$orange: #e37400;
$deep-grey: #333333;
$grey-white: #c7c7c7;
$light-blue: #00667d;
$black-grey: #606060; 
$off-black:	#383838;
$purple:#800080;
$slate-grey:#E0EEEE;
$peech:#DDBBBB;
$night-blue:#191970;
